@using ApiCoreHospitales.Models
@model List<Hospital>
<h1>Cliente Services</h1>





<table id="tablaHospital" class="table table-bordered table-warning">
    <thead>
        <tr>
            <th>id Hospital</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Camas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hospital in Model)
        {
            <tr>
                <td>@hospital.IdHospital</td>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>@hospital.Camas</td>
            </tr>
        }
    </tbody>
</table>